:root {
    /* Colors: */
    --unnamed-color-bec8e6: #bec8e6;
    --brand-bg-color: #556eb7;
    --light-gray: #eff3ff;
    --unnamed-color-334884: #334884;
    --unnamed-color-989898: #989898;
    --dark-gray: #787676;
    --unnamed-color-02c32f: #02c32f;
    --unnamed-color-2f2f2f: #2f2f2f;
    --unnamed-color-ff0000: #ff0000;
    --unnamed-color-ffad05: #ffad05;
    --unnamed-color-4a3b42: #4a3b42;
    --unnamed-color-fafafa: #fafafa;
    --unnamed-color-33415c: #33415c;
}

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";