:root {
    /* Colors: */
    --light-blue: #bec8e6;
    --brand-bg-color: #556eb7;
    --off-white: #eff3ff;
    --brand-text-dark: #334884;
    --medium-gray: #989898;
    --dark-gray: #787676;
    --brand-green: #02c32f;
    --unnamed-color-2f2f2f: #2f2f2f;
    --brand-red: #ff0000;
    --brand-yellow: #ffad05;
    --unnamed-color-4a3b42: #4a3b42;
    --light-gray: #fafafa;
    --unnamed-color-33415c: #33415c;
}

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";