<div id="distance" class="panel">
  <p class="title">Distance</p>
  <div id="actions" class="float-left">
    <div id="add" class="d-flex justify-content-center align-items-center">
      <i class="fas fa-plus"></i>
    </div>
    <div id="remove" class="d-flex justify-content-center align-items-center">
      <i class="fas fa-minus"></i>
    </div>
  </div>
  <div id="result" class="float-right d-flex align-items-center flex-column">
    <div>20</div>
    <div class="kms d-flex align-items-center">
      <span class="material-icons">speed</span>
      <span>KMS</span>
    </div>
  </div>
</div>
<div id="location" class="panel pt-3">
  <p class="title">Location</p>
  <div id="location-select" class="mdc-select mdc-select--outlined">
    <div class="mdc-select__anchor location-select">
      <span id="demo-selected-text" class="mdc-select__selected-text"></span>
      <span class="mdc-select__dropdown-icon">
        <svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5">
          <polygon class="mdc-select__dropdown-icon-inactive" stroke="none" fill-rule="evenodd"
            points="7 10 12 15 17 10">
          </polygon>
          <polygon class="mdc-select__dropdown-icon-active" stroke="none" fill-rule="evenodd" points="7 15 12 10 17 15">
          </polygon>
        </svg>
      </span>
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span id="outlined-select-label" class="mdc-floating-label">Current</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
    </div>

    <div class="mdc-select__menu mdc-menu mdc-menu-surface demo-width-class">
      <ul class="mdc-list">
        <li class="mdc-list-item mdc-list-item--selected" data-value="" aria-selected="true">Current</li>
        <li class="mdc-list-item" data-value="grains">
          <span class="mdc-list-item__text">
            Maharashtra
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div id="location-map" class="float-right d-flex justify-content-center align-items-center">
    <div id="map" class="">
      <span class="material-icons"> edit_location </span>
    </div>
  </div>
</div>
<div id="action-buttons" class="d-flex justify-content-around pt-3">
  <button id="filter-button" class="mdc-button--raised">
    <span class="mdc-button__label">Filters</span>
  </button>
  <button id="map-button" class="mdc-button">
    <div class="mdc-button__ripple"></div>
    <i class="far fa-map"></i>
    <span class="mdc-button__label">Map View</span>
  </button>
  <button id="list-button" class="mdc-button" style="display: none;">
    <div class="mdc-button__ripple"></div>
    <i class="fas fa-list"></i>
    <span class="mdc-button__label">List View</span>
  </button>
</div>
<div class="mdc-dialog" id="filters">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title"
      aria-describedby="my-dialog-content">
      <div class="mdc-dialog__content" id="my-dialog-content">
        <div class="md-close d-flex justify-content-between align-items-center">
          <span><i class="fas fa-times"></i> Close</span>
          <span id="filter-title">Filters</span>
          <span>Clear all</span>
        </div>
        <div class="filter-wrapper">
          <div id="sort-by">
            <p>Sort By</p>
            <span>Name</span>
            <span>Near me</span>
            <span>Popularity</span>
            <span>Active Status</span>
            <span>User since</span>
          </div>
          <hr class="mdc-list-divider">
          <div id="search-count" class="pb-2">10 people are here</div>
          <div id="keyword-search" class="mb-3">
            <label
              class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon">
              <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">person_search</i>
              <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
              <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0"
                role="button">clear</i>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="my-label-id">Keyword search</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line">
              <div class=""><span class="material-icons">info</span> Search for anything</div>
            </div>
          </div>
          <div id="person-search" class="mb-3">
            <label
              class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon">
              <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">person</i>
              <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
              <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0"
                role="button">clear</i>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="my-label-id">Person name</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line">
              <div class=""><span class="material-icons">info</span> Search for person</div>
            </div>
          </div>
          <div id="friend-search" class="mb-3">
            <label
              class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon">
              <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">people_alt</i>
              <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
              <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0"
                role="button">clear</i>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="my-label-id">Friend's of</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line">
              <div class=""><span class="material-icons">info</span> Search for anything</div>
            </div>
          </div>
          <div id="employee-search" class="mb-3">
            <label
              class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon">
              <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">person</i>
              <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
              <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0"
                role="button">clear</i>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="my-label-id">Employee name</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line">
              <div class=""><span class="material-icons">info</span> Search for anything</div>
            </div>
          </div>
          <div id="hobby-search" class="mb-3">
            <label
              class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon">
              <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">sports_cricket</i>
              <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
              <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0"
                role="button">clear</i>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="my-label-id">Hobbies</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line">
              <div class=""><span class="material-icons">info</span> Search for anything</div>
            </div>
          </div>
          <div id="edu-search" class="mb-3">
            <label
              class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon">
              <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">school</i>
              <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
              <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0"
                role="button">clear</i>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="my-label-id">University / College</span>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </label>
            <div class="mdc-text-field-helper-line">
              <div class=""><span class="material-icons">info</span> Search for anything</div>
            </div>
          </div>
          <div class="mdc-form-field mb-3">
            <div class="mdc-checkbox">
              <input type="checkbox"
                     class="mdc-checkbox__native-control"
                     id="checkbox-1"/>
              <div class="mdc-checkbox__background">
                <svg class="mdc-checkbox__checkmark"
                     viewBox="0 0 24 24">
                  <path class="mdc-checkbox__checkmark-path"
                        fill="none"
                        d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                </svg>
                <div class="mdc-checkbox__mixedmark"></div>
              </div>
              <div class="mdc-checkbox__ripple"></div>
            </div>
            <label for="checkbox-1">Include Advertisements</label>
          </div>
          <div id="reported">
            <span class="mdc-notched-outline">
              <span class="mdc-notched-outline__leading"></span>
              <span class="mdc-notched-outline__notch">
                <span class="mdc-floating-label">Display reported</span>
              </span>
              <span class="mdc-notched-outline__trailing"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>