@media only screen and (min-width: 280px) {
    #search-dashboard {
        padding: 20px 0;
        border-bottom: 1px solid var(--light-blue);
        .panel {
            width: 260px;
            margin: auto;
            clear: both;
            .title {
                font: 14px/17px Verdana;
                color: var(--dark-gray);
            }
        }

        #distance {
            #actions {
                margin-right: 10px;
                width: 45px;
                div {
                    background: var(--off-white) 0% 0% no-repeat padding-box;
                    box-shadow: 0px 1px 2px var(--light-blue);
                    width: 45px;
                    height: 45px;
                    border-radius: 22.5px;
                    &:first-of-type {
                        margin-bottom: 5px;
                    }
                    i {
                        color: var(--brand-bg-color);
                    }
                }
            }
            #result {
                background-color: var(--white);
                width: 200px;
                height: 95px;
                border-radius: 15px;
                padding: 10px;
                div {
                    &:first-of-type {
                        font: Bold 32px/39px Verdana;
                        color: var(--brand-text-dark);
                        flex: 1;
                        margin-top: 1px;
                    }
                }
                .kms {
                    font: 14px/17px Verdana;
                    color: var(--medium-gray);
                    flex-shrink: 0;
                }
            }
        }

        #location {
            #location-map {
                background: var(--off-white) 0% 0% no-repeat padding-box;
                box-shadow: 0px 1px 2px var(--light-blue);
                width: 45px;
                height: 45px;
                border-radius: 22.5px;
                span {
                    color: var(--brand-bg-color);
                }
            }
        }

        #action-buttons {
            button {
                width: 140px;
                height: 48px;
                border: 2px solid var(--brand-bg-color);
                border-radius: 50px;
                text-transform: none;
            }
            #map-button,
            #list-button {
                color: var(--brand-bg-color);
            }
            #filter-button {
                color: var(--white);
                background-color: var(--brand-bg-color);
            }
        }
        .mdc-dialog {
            .mdc-dialog__content {
                padding: 0;
                .md-close {
                    padding: 20px;
                    font: 14px/16px Georgia;
                    color: var(--almost-black);
                    #filter-title {
                        font: 18px/21px Georgia;
                    }
                }
                .filter-wrapper {
                    padding: 20px;
                    background: var(--light-gray) 0% 0% no-repeat padding-box;
                    #sort-by {
                        p {
                            font: 16px/21px Roboto;
                            color: var(--dark-gray);
                        }
                        span {
                            padding: 8px;
                            background: var(--white) 0% 0% no-repeat padding-box;
                            box-shadow: 0px 2px 3px var(--off-white);
                            border: 1px solid var(--light-blue);
                            font: 14px/17px Verdana;
                            color: var(--brand-bg-color);
                            display: inline-block;
                            margin: 5px;
                            border-radius: 20px;
                        }
                    }
                    #search-count {
                        font: 12px/15px Verdana;
                        color: var(--dark-gray);
                        margin-top: 10px;
                    }
                    .date-range {
                        .title {
                            color: var(--dark-gray);
                            font: 14px/17px Verdana;
                        }
                        fieldset {
                            max-width: calc(35vw);
                            input {
                                height: 24px;
                                margin-bottom: 0;
                            }
                        }
                    }
                    .category {
                        label {
                            color: var(--dark-gray);
                            font: 16px/19px Verdana;
                            margin-right: 10px;
                        }
                    }
                    .category-list {
                        padding-left: 20px;
                        p {
                            color: var(--dark-gray);
                            font: Bold 14px/17px Verdana;
                        }
                        .category-type {
                            padding-left: 20px;
                            p {
                                color: var(--medium-gray);
                                font: 14px/17px Verdana;
                            }
                        }
                    }
                    .mdc-floating-label {
                        color: var(--medium-gray);
                        font: 16px/19px Verdana;
                    }
                    .mdc-text-field-helper-line {
                        div {
                            display: flex;
                            align-items: center;
                        }
                        .material-icons {
                            font-size: 14px;
                            margin-right: 5px;
                        }
                        color: var(--dark-gray);
                        font: 12px/15px Verdana;
                    }
                }
            }
            .mdc-dialog__surface {
                width: calc(100vw);
                height: 500px;
                .mdc-dialog__content {
                    background: var(--light-gray) 0% 0% no-repeat padding-box;
                }
            }
            .md-close {
                font: 14px/16px Georgia;
                color: var(--almost-black);
                height: 50px;
                background-color: var(--white);
            }
        }
    }
}
