<div id="breadcrumb">
    <span class="main">People </span>
    <span>Search</span>
</div>
<div class="d-flex" id="content-wrapper">
    <div id="filter-md-wrapper" class="d-none d-md-block pr-4 mr-4"></div>
    <div id="search-list-wrapper">
        <div id="search-dashboard"></div>
        <div id="list-view"></div>
    </div>
    <div id="ads-wrapper" class="d-none d-xl-block">
        <div class="ads-card"></div>
        <div class="ads-card"></div>
        <div class="ads-card"></div>
        <div class="ads-card"></div>
        <div class="ads-card"></div>
    </div>
</div>
