@media only screen and (min-width: 280px) {
    #header {
        #header-bar {
            height: 24px;
            background-color: var(--brand-bg-color);
            font-size: 12px;
            padding-right: 10px;
            color: var(--off-white);
        }
        #header-user {
            height: 56px;
            font: 17px/20px Georgia;
            .fa-bars {
                margin-left: 20px;
                margin-right: 20px;
            }
            .profile {
                background: transparent url('../../assets/img/Profile.png') 0% 0% no-repeat padding-box;
                opacity: 1;
                width: 30px;
                height: 30px;
                display: inline-block;
            }
        }
    }
}
